<div class="col-xs-12 text-center">
	<h1>JASS</h1>
	<p>
		Jam As A Service
	</p>
	<div class="text-center center-block" id="mic">
		<a href="" ng-click="start();"> <i  class="fa fa-microphone fa-5x"
		ng-class="{'text-primary' : !options.showText, 'text-danger': options.showText}"> </i> </a>
	</div>

</div>

<div class="center-block col-xs-12" ng-show="options.showText" style="margin-top: 200px;">
	<form class="form-group">
		<textarea id="output" class="form-control center-block" style="width: 70%"> </textarea>
	</form>
</div>